<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <link rel="stylesheet" href="/stylesheets/navBar.css" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.15.2/css/all.css"
    />
  </head>
  <body>
    <div class="root-body">
      <header class="main-header">
        <nav class="main-navigation">
          <ul class="list-navigation">
            <a href="/" class="link-navigation">Acceuil</a>
            <a href="/users" class="link-navigation">Users</a>
            <a href="#" class="link-navigation">Home</a>
          </ul>
          <div class="information-content">
            <div class="profil-dropdown">
              <div class="logo dropdown">
                <img
                  src="/images/e.png"
                  id="logo-profile"
                  alt="profil"
                  class="image-profil"
                />
              </div>
              <div id="myDropdown" class="dropdown-content">
                <a href="#">Profil</a>
                <a href="#">Add Post</a>
                <a href="#">Contact</a>
              </div>
            </div>
            <a href="#" class="notification"
              ><i class="fal fa-bell notif"></i
            ></a>
          </div>
        </nav>
      </header>
      <main class="main-content">
        <section class="icon-link-section">
          <a href="#"><i class="fal icon-fa fa-user-plus"></i></a>
          <a href="/home/add_post"
            ><i class="fal icon-fa i-f1 fa-comment-alt-plus"></i
          ></a>
          <a href="#"><i class="fal icon-fa fa-search"></i></a>
          <a href="#"><i class="fal icon-fa fa-cog"></i></a>
        </section>
        <section class="content-section">
          <% posts.forEach(function(post){ %>
          <div class="box-wrapper">
            <div class="box-content">
              <div class="box-column1 box-col">
                <div class="image-head-box">
                  <img src="/images/e.png" alt="profil" class="image-head" />
                </div>
              </div>
              <div class="box-column2 box-col">
                <div class="header-box box-row">
                  <div class="user-name-row">
                    <span><%= post.author.username %></span>
                    <i class="fas fas-badge fa-badge-check"></i>
                  </div>
                  <div class="article-content-row">
                    <h1><%= post.title%></h1>
                    <a href="#">Lien du Post</a>
                  </div>
                </div>
                <div class="main-box box-row">
                  <div class="article-main-box"> <%= post.information%> </div>
                </div>
              </div>
            </div>
            <div class="box-comment-wrapper">
              <div class="box-like-row">
                <i class="fad fa-like-icon fa-thumbs-up"></i>
                <i class="fad fa-like-icon fa-meh-blank"></i>
                <i class="fad fa-like-icon fa-thumbs-down"></i>
              </div>
              <div class="box-comment-form">
                <form class="form-comment" action="/home/comment" method="POST">
                  <input
                    type="text"
                    class="comment-input"
                    placeholder="Your comment ..."
                    name="comment"
                  />
                  <input
                    class="hidden-input"
                    type="text"
                    name="post_id"
                    value="<%= post._id%>"
                  />
                  <button type="submit" class="comment-button">Post it</button>
                </form>
              </div>
              <div class="box-comment-list">
                <ul class="list-of-comment">
                  <% if ( post.comments.length > 0) {%>
                  <%post.comments.forEach(function(comment) { %>
                  <li class="comment-row">
                    <span class="comment-username"><%=comment.author%>:</span>
                    <span class="comment-comment"><%=comment.comment%></span>
                  </li>
                  <%})%> <% } %>
                </ul>
              </div>
            </div>
          </div>
          <%}) %>
        </section>
      </main>
    </div>
    <script src="/javascripts/handleProfil.js" type="module"></script>
  </body>
</html>
